{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Ethique et mode de vie', 'link': '/produits/Ethique-Et-Mode-De-Vie' }
] %}
{% block content %}
	<div class="newPage">
			<h1>{{currentPage}}</h1>
		</div>
	<div class="cardsIndex">
		<div id="submenu-cards" class="card-container">
			{% for label, url in nosProduits %}
				<div class="card">
					<li>
						<a href="{{ url }}">{{ label }}</a>
					</li>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
