{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'À propos', 'link': '/a-propos' }
] %}
{% block content %}
	<div class="newPage">
			<h1>{{currentPage}}</h1>
		</div>
	<div class="presentation">
		<div class="content">
			<div class="text">
				<p>Rouen Bio, un magasin d’alimentaire bio implanté depuis 25 ans au sein de Petit-Quevilly, se renouvelle !</p>
				<p>
					Les nouveaux gérants depuis le 14 avril 2022 ont de grands projets en tête afin de conserver la clientèle fidèle et d’en attirer une nouvelle.</p>

				<p>
					Ils misent sur un large choix de produits dans chaque rayon, sur des prix accessibles à tous budgets et sur un engagement auprès des producteurs de la région.</p>

				<p>
					Rouen Bio évolue grâce à une équipe engagée au quotidien pour être au plus proche de vos attentes. Plus qu’un commerce de proximité, Rouen Bio est un véritable lieu de bien-être !</p>

				<p>
					Pour un renouvellement efficace, nous avons besoin de vous !</p>

				<p>
					N’hésitez pas à nous transmettre votre avis et vos recommandations en magasin ou sur notre page Google et à nous recommander auprès de vos proches.</p>
			</div>
			<div class="video">

				<iframe src="https://www.youtube.com/embed/9KblFtAskPI" title="YouTube Rouen Bio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
{% endblock %}
