{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'À propos', 'link': '/a-propos' }
] %}

{% block content %}
	<div class="newPage">
		<h1>{{currentPage}}</h1>
	</div>
	<div id="presentation">
		<div class="content">
			<div class="text">

				<p>Voici les mots de Loredana, experte en conseils santé et en compléments alimentaires :</p>
				<p></p>
				<p>
					« L’alimentation est notre première médecine.</p>

				<p>
					Hippocrate, le père de la médecine, avait déterminé quatre grands tempéraments : le lymphatique, le bilieux, le sanguin et le nerveux. Il établissait ainsi le lien entre l’aspect physique d’un individu, sa personnalité et sa pathologie.</p>

				<p>
					Depuis l’antiquité, santé et alimentation font route ensemble. Mais la notion a sensiblement évolué au point de devenir la nouvelle morale contemporaine à laquelle tout citoyen responsable devrait se plier.</p>


				<p>Dès le 5ème siècle avant J.C., Hippocrate, le père fondateur de la médecine, déclarait déjà que « l’alimentation est notre première médecine ». Il considérait que s’alimenter constituait un moyen préventif et curatif en cas de maladie mais la diététique, définie comme le troisième pilier de la médecine, était alors basée sur la théorie des humeurs corporelles, le froid, le chaud, le sec et l’humide à compenser par des ingrédients en rapport.</p>

				<p>Et cela ne consiste pas seulement à manger plus ou moins équilibré mais à intégrer d’autres notions comme choisir ses aliments en fonction des saisons, de sa forme physique et psychologique, de son mode de vie, veiller aux modes de cuisson, arrêter la surconsommation de certains aliments au profit d’autres moins connus sans pour autant être dans la frustration.</p>

				<p>Avec une vraie prise de conscience et un peu de temps consacré au changement de son alimentation pour s’informer et trouver ce qui lui convient, tout individu peut agir sur sa santé, réduire les graisses et les sucressources de nombreuses maladies, retrouver un bon sommeil et de l’énergie. Manger bio, augmenter nos rations journalières de fruits et légumes, réduire nos apports en viande et produits laitiers c’est :</p>

				<p>· Entretenir sa forme</p>

				<p>· Alléger le budget consacré à la nourriture</p>

				<p>· Faire un geste écologique pour la planète.</p>

				<p>En raison de notre mode de vie très exigeant, notre organisme a souvent besoin d’un soutien complémentaire
				</p>


				<p>Il est difficile d’avoir une alimentation vraiment équilibrée aujourd’hui avec une abondance de glucides raffinés et d’acides gras saturés.</p>

				<p>Une alimentation saine contient moins de vitamines et de minéraux qu’auparavant, il n’est pas certain que votre alimentation renferme les nutriments requis.</p>

				<p>Par exemple, en cas de stress physique et psychique, notre corps a besoin de plus de nutriments essentiels pour fonctionner correctement.</p>

				<p>Il y a trop peu de lumière naturelle dans notre pays, le soleil n’est pas suffisamment fort en hiver pour nous permettre de produire de la vitamine D en suffisance. Il n’est donc guère surprenant que nous souffrions, pour la plupart, d’une carence en vitamine D en hiver.</p>

				<p>Une supplémentation de base contient un certain nombre de compléments alimentaires qui compensent les carences les plus fréquentes et répondent à des besoins supplémentaires. Par compléments alimentaires, l’on entend les vitamines, les minéraux, les herbes et les acides aminés.</p>


				<p>Les groupes à risque de carences:</p>

				<p>· Femmes enceintes</p>

				<p>· Athlètes professionnels</p>

				<p>· Jeunes enfants</p>

				<p>· 55 ans et plus</p>

				<p>· Les gens très stressés</p>

				<p>· Fumeurs</p>

				<p>· Malades (de longue durée)</p>

				<p>· En cas de consommation abusive d’alcool</p>

				<p>· Toute personne qui passe la majorité de sa journée à l’intérieur</p>


				<p>Des exemples de compléments alimentaires :</p>


				<p>· Huile de poisson à bonne pour le cerveau, le cœur, la régulation hormonale et l’humeur</p>

				<p>· Vitamine D à bon pour votre système immunitaire et contre la déprime hivernale</p>

				<p>· Vitamines B à bonnes pour votre métabolisme énergétique</p>

				<p>· Complexe antioxydant à pour protéger vos cellules du « stress oxydatif »</p>

				<p>· Enzymes digestives à pour favoriser une digestion difficile</p>

				<p>· Probiotique à pour maintenir une bonne flore intestinale</p>

				<p>· Un complexe de vitamines, de minéraux et d’herbes, notamment le gymnéma sylvestre, la cannelle, bardane à pour préserver l’équilibre glycémique</p>

				<p>· Shake détox à pour soutenir la détoxication de vos intestins et de votre foie</p>

				<p>· Curcumine à pour prévenir l’inflammation (chronique)</p>

				<p>· Safran à aide à maintenir une bonne humeur</p>

				<p>· Vigne rouge à pour la circulation</p>

				<p>· Plasma du Quinton, magnésium à contribue à réduire la fatigue
				</p>

				<p>· Les algues : spiruline, chlorela, klamath à une des meilleures sources connue de protéines, elle contient l’ensemble des acides aminés essentiels</p>

				<p>· Gelée royale, pollen, propolis à des véritables trésors de la ruche. »</p>
			</div>
		</div>
	</div>
{% endblock %}
