{% extends 'base.html.twig' %}

{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },

] %}

{% block content %}
<div class="newPage">
		<h1>RouenBio Recrute</h1>
	</div>
<div id="carriere">
<div class="poste"><img src="{{ asset('assets/img/carriere/posteCommunication.png') }}" alt="RouenBio Recrute"></div>
<div class="poste"><img src="{{ asset('assets/img/carriere/posteVandeur.png') }}" alt="RouenBio Recrute"></div>
</div>
<button><a href="{{ path('app_job_application') }}">Postuler ici</a></button>

{% endblock %}
