{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },

] %}
{% block content %}
    <h1>Postuler à l'offre d'emploi</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Postuler</button>
    {{ form_end(form) }}
{% endblock %}