{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },

] %}

{% block content %}
	<div class="newPage"></div>
	<link rel="stylesheet" href="{{ asset('assets/styles/general/form.css') }}">


	{{ form_start(form) }}
	<div class="titleFrom">
		<h1>Contactez-nous</h1>
	</div>
	{{ form_widget(form) }}
	<button class="button" type="submit">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}
