{% extends 'base.html.twig' %}
{% set navigationItems = [
    { 'label': 'Accueil', 'link': '/' },
    { 'label': 'Mentions Legales', 'link': '/mentions-legales' }
] %}
{% block title %}Gestion de Cookies
{% endblock %}
{% block content %}
	<h1>Données personnelles & Gestion de cookies</h1>
	<div id="presentation">
		<div class="content">
			<div class="text">
				<h3>Donnée personnelle</h3>
				<p>Il s’agit de toute information qui permet d’identifier une personne physique (exemples : nom, prénom, numéro de téléphone, adresse, identifiants, adresse IP, etc.).</p>
				<h3>Donnée collecté</h3>
				<p>- Vos données d’identification et vos coordonnées : civilité, nom, prénom, date de naissance, adresse de livraison, adresse de facturation, numéro de téléphone, e-mail, identifiant, mot de passe, etc.</p>
				<p>- Vos données de commande et de paiement : vos coordonnées bancaires, les informations relatives à vos achats, vos paiements et leurs retours, etc.</p>
				<p>- Vos données de connexion, de navigation et de géolocalisation : les pages consultées, l’état de votre panier, etc.</p>
				<p>- Vos données obtenues grâce aux cookies, sous réserve de consentement
				</p>
				<p>- Vos données techniques : adresse IP, informations relatives au terminal de connexion, au navigateur et au moteur de recherche utilisés, etc.</p>
				<p>- Vos données renseignées pour postuler à une offre d’emploi magasin et celles renseignées sur les différents formulaires (demande d’informations, référencement fournisseur, candidature entrepreneur commerçant) présents sur ce site.</p>
				<h3>Le responsable de la collecte et du traitement de vos donnée</h3>
				<p>- La société SAS L'art de la simplicité - Rouen Bio, ayant son siège social au 79 Boulevard du 11 Novembre 76140 Le Petit Quevilly, 02.35.73.72.70</p>
				<p>- Votre magasin Rouen Biomonde dont les coordonnées sont accessibles à tout moment depuis votre menu si vous naviguez depuis un mobile ou depuis le haut de la page si vous naviguez sur un ordinateur.</p>
				<h3>
					A quel moment vos données sont-elles collectées</h3>
				<p>- de la création d’un compte client sur ce site.</p>
				<p>- de votre navigation sur ce site par le biais de traceurs ou cookies.</p>
				<p>- de vos commandes.</p>
				<p>- de votre inscription aux différentes newsletters proposées sur ce site.</p>
				<p>- de l’envoi des différents formulaires présents sur ce site.
				</p>
				<h3>
					Paramétrage des cookies</h3>
				<p>
					Deux types de cookies sont présents sur ce site :</p>

				<p>
					Les cookies requis:</p>

				<p>
					Nécessaires pour naviguer sur ce site et utiliser ses fonctions.</p>
				<p>
					Vous identifier en tant qu'utilisateur et enregistrer vos préférences telles que la langue.</p>
				<p>
					Personnaliser votre expérience en fonction de votre navigation.</p>
				<p>
					Si vous refusez ces cookies, le site risque de ne pas fonctionner correctement. Dans ce cas, fermez la page de votre navigateur.</p>

				<p>
					Les cookies supplémentaires:</p>

				<p>
					Cookies tiers à des fins d'analyse. (Notamment Google analytics)</p>
				<p>
					Afficher des recommandations personnalisées en fonction de votre navigation sur d'autres sites</p>
				<p>
					Afficher des campagnes personnalisées sur d'autres sites Web</p>
				<p>
					Je souhaite supprimer les cookies installés sur mon ordinateur</p>

				<p>
					Pour supprimer les cookies sur MAC utilisant le navigateur Safari :</p>

				<p>
					- Dans Safari, choisissez le menu Édition > Préférences</p>

				<p>
					- Cliquez sur « Sécurité » puis  sur « Afficher les cookies »</p>

				<p>
					- Sélectionnez les cookies que vous souhaitez supprimer et cliquez sur « Effacer » ou sur « Tout effacer » ; après avoir supprimé les cookies, cliquez sur « Terminé ».</p>

				<p>
					Pour supprimer les cookies sur PC :</p>

				<p>
					Navigateur Firefox :</p>

				<p>
					- Ouvrez le menu et cliquez sur « Historique »</p>

				<p>
					- Choisissez « Effacer l'historique récent »</p>

				<p>
					- Cochez la case « Cookies » puis cliquez sur « Supprimer »</p>

				<p>Navigateur Internet Explorer :</p>

				<p>
					- Dans Internet Explorer, cliquez sur le bouton « Outils », puis sur « Options Internet »</p>

				<p>
					- Sous l'onglet Général, sous Historique de navigation, cliquez sur « Supprimer? »</p>

				<p>
					- Cochez ensuite « Cookies et données de sites web », puis cliquez sur « Supprimer »</p>

				<p>
					- Cliquez sur « OK » pour fermer la fenêtre des « Options Internet »</p>

				<p>
					Navigateur Google Chrome :</p>

				<p>
					- Cliquez sur l'icône du menu « Personnaliser et paramétrer Google chrome »</p>

				<p>
					- Dans le menu, cliquez sur « Plus d'outils », ensuite sur « Effacer les données de navigation? »</p>
				<p>
					- Cochez la case « Cookies et autres données de site et de plug- in » et cliquez sur « Effacer les données de navigation »</p>

			</div>
		</div>
	</div>
{% endblock %}
