{% block stylesheets %}{% endblock %}

<section id="promotions">

	<div>
		<a href="{{ path('h2origin') }}">
			<h2>H2Origin</h2>
			<img src="{{ asset('assets/img/Eau-osmosee-RouenBio.png') }}" alt="Eau osmosée Rouen Bio">
		</a>
	</div>
</section>
